.lead__subtitle {
  max-width: 640px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0 auto 64px;
  padding: 0;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 700px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 40px;
  }
}

